#! /bin/sh
chans="MSSPT ISk3T MCelP ICel1T MSG1T ICel2T MRv1T ISk1T MCel2T
      MSk1T ISk2T MSk3T AIC48 MCel1T CRv1T AICD4 CCel2T CSk3T
      AICD6 CCel1T"
for chan in $chans; do
cat <<EOF | sed -e "s/%chan%/$chan/g"
AI16 %chan%_raw; Invalidate %chan%_raw;
  { %chan%_raw = %chan%; Validate %chan%_raw; }
EOF

done >CellT_raw.tmc

for chan in $chans; do
  addr=`egrep "^TM [0-9]+ Hz .* $chan;" AIO.tmc`
  addr=${addr#TM }
  addr=${addr% Hz*}
  echo "$chan $addr Hz"
done

